.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-text-1 {
  margin: 81px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 62px;
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-table-1 {
    margin-top: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 67px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 1px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 76px;
  }

  .u-section-1 .u-table-1 {
    margin-top: 30px;
  }
}